<div class="form-field-table" *ngIf="!readOnly">
  <div style="display: flex; align-items: center">
    <div class="form-field-cell label-field-mandatory" i18n="@@elementcollectioneditor_lbladd">
      Add a new element:
    </div>
    <div class="form-field-cell">
      <input pInputText [(ngModel)]="newValue" type="text" style="width: calc(20vw)" id="txtAdd">
    </div>
    <div class="form-field-cell">
      <button *ngIf="!readOnly" type="button" (click)="addElement()" pButton icon="pi pi-plus" label="Add"
        i18n-label="@@button_add" id="cmdAdd"></button>
    </div>
  </div>
</div>

<div class="form-spacer" *ngIf="!readOnly"></div>

<p-table [value]="filteredElements" selectionMode="single" (onRowSelect)="onRowSelect($event)" [contextMenu]="cm"
  [(contextMenuSelection)]="selectedItem">
  <ng-template pTemplate="header" let-rowData>
    <tr>
      <th i18n="@@elementcollectioneditor_colvalue">Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
      <td>{{ convertElementToString(rowData) }}</td>
    </tr>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="contextMenuItems" id="elementCollectionEditor_contextMenu"></p-contextMenu>
