<p-dialog [(visible)]="visible" [modal]="true" header="{{title}}" (onHide)="close()"
  [style]="{'width': '800px', 'min-width': '400px', 'min-height': '500px'}" id="lovDialog">

  <div class="form-field-table">
    <div class="form-field-row">
      <div class="form-field-cell label-field-mandatory" i18n="@@listofvalues_lblsearch">
        Search items:
      </div>
      <div class="form-field-cell">
        <input pInputText (keyup)="onKeyUp($event)" type="text">
      </div>
      <div *ngIf="loading" class="form-field-cell">
        <div class="pi pi-spin pi-spinner"></div>
      </div>
    </div>
  </div>

  <div class="form-spacer"></div>

  <p-table #dataTable [columns]="columns" [value]="items" [paginator]="true" [rows]="10" selectionMode="single"
    [(selection)]="selectedItem" [style]="{'width': '100%', 'height': '450px'}" [resizableColumns]="true"
    responsiveLayout="scroll" [loading]="loading" [rowsPerPageOptions]="[10, 20, 30, 50, 100]" paginatorPosition="top"
    styleClass="p-datatable-sm" id="dataTable">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col" *ngFor="let col of columns" pResizableColumn [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
          <p-sortIcon [field]="col.field"></p-sortIcon>
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
      <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(item)">
        <td *ngFor="let col of columns">
          {{formatField(col.field, rowData[col.field])}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{summaryText}}
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <button pButton type="button" icon="pi pi-check" (click)="this.selectItem.emit(selectedItem)" i18n-label="@@button_select"
      label="Select" [disabled]="!selectedItem" style="min-width: 100px;" id="cmdSelect"></button>
    <button *ngIf="enableReset" pButton type="button" icon="pi pi-minus" (click)="this.selectItem.emit(null)" i18n-label="@@button_reset"
      label="Reset" style="min-width: 100px;" id="cmdReset"></button>
    <button pButton type="button" icon="pi pi-times" i18n-label="@@button_close" label="Close" (click)="close()"
      style="min-width: 100px;"></button>
  </ng-template>

</p-dialog>
