<p-dialog [(visible)]="visible" [modal]="true" i18n-header="@@savedsearchselectiondialog_header" header="Select a saved search"
  [style]="{'min-width': '400px', 'min-height': '300px'}" (onHide)="close()" (onShow)="initDialog()">

  <cc-form-container>
    <cc-form-control-container [span]="true">
      <p-listbox [disabled]="confirmDelete" [options]="savedSearchObjects" [(ngModel)]="selectedItem" (onDblClick)="runSavedSearch()"
        [listStyle]="{'min-height':'250px'}" optionLabel="name"/>
    </cc-form-control-container>
  </cc-form-container>

  <ng-template pTemplate="footer">
    <button pButton style="min-width: 100px" type="button" icon="pi pi-check" i18n="@@button_run" [disabled]="!selectedItem"
      (click)="runSavedSearch()">Run</button>
    <button pButton style="min-width: 100px" type="button" icon="pi pi-trash" i18n="@@button_delete" [disabled]="!selectedItem || confirmDelete"
      (click)="confirmDelete = true">Delete</button>
    <button pButton style="min-width: 100px" type="button" icon="pi pi-question" i18n="@@button_confirm" [disabled]="!selectedItem || !confirmDelete"
      (click)="deleteSavedSearch()">Confirm</button>
  </ng-template>

</p-dialog>
