<p-dialog [(visible)]="visible" [modal]="true" i18n-header="@@searchinput_header" header="Enter filter and sorting criteria"
  [style]="{'width': '830px', 'min-width': '500px'}" (onHide)="close()">

  <form [formGroup]="searchInputForm">
    <table style="width: 100%; border: 1px solid var(--surface-border); margin-bottom: 0.5rem; border-collapse:collapse;" aria-label="General settings">
      <!-- Add an empty table header to satisfy SonarLint! -->
      <thead><tr><th></th></tr></thead>
      <tr style="vertical-align: top;">
        <td style="padding: 10px;">
          <div class="label-field-mandatory" i18n="@@searchinput_lblfetchsize">Max. number of recordsets:</div>
          <p-select [options]="fetchSizeItems" formControlName="maxResult"/>
        </td>
        <td style="padding: 10px;">
          <div class="label-field-mandatory" i18n="@@searchinput_lblcasesensitive">Case sensitve:</div>
          <input type="checkbox" formControlName="caseSensitive">
        </td>
        <td style="padding: 10px;">
          <div class="label-field-mandatory" i18n="@@searchinput_lblexactfiltermatch">Exact filter match:</div>
          <input type="checkbox" formControlName="exactFilterMatch">
        </td>
        <!-- Add an empty cell that fills up the rest of the space-->
        <td style="width: 100%;"></td>
      </tr>
    </table>

    <div style="width: 100%; border: 1px solid var(--surface-border);" formArrayName="searchFields" [style]="{'min-height': '500px'}">
      <table style="width: 100%; border-collapse:collapse;" aria-label="Search fields">
        <thead>
          <tr style="height: 35px;">
            <th style="background-color: var(--surface-ground);" i18n="@@searchinput_lblfieldname">Field name</th>
            <th style="background-color: var(--surface-ground);" i18n="@@searchinput_lblsortoperator">Sort operator</th>
            <th style="background-color: var(--surface-ground);" i18n="@@searchinput_lblfilteroperator">Filter operator</th>
            <th style="background-color: var(--surface-ground);" i18n="@@searchinput_lblfilterinput">Filter input</th>
            <th style="background-color: var(--surface-ground); white-space: nowrap;" i18n="@@searchinput_lblshowcolumn">Show column</th>
          </tr>
        </thead>
        <tbody>
          @for (searchInputField of searchFieldFormArray.controls; track $index; let i = $index) {
            <tr [formGroupName]="i">
              @if (displaySearchInputField(searchInputField)) {
                <td class="label-field-optional" style="padding: 5px;">
                  <div>{{ getSearchInputFieldLabel(searchInputField) }}</div>
                </td>
                <td style="padding: 5px;">
                  <p-select [options]="sortOrderItems" formControlName="sortOrder" [id]="'s_' + i"/>
                </td>
                <td style="padding: 5px;">
                  @if (getSearchInputFieldType(searchInputField) === FieldType.STRING) {
                    <p-select [options]="stringOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.ENUM) {
                    <p-select [options]="enumOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.DECIMAL) {
                    <p-select [options]="numericOperatorItems" formControlName="operator"
                      (onChange)="onOperatorChange(searchInputField)" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.INTEGER) {
                    <p-select [options]="numericOperatorItems"
                      formControlName="operator" (onChange)="onOperatorChange(searchInputField)" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.BOOLEAN) {
                    <p-select [options]="booleanOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.DATE) {
                    <p-select [options]="dateOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.UUID) {
                    <p-select [options]="stringOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.UUID_BINARY) {
                    <p-select [options]="uuidOperatorItems" formControlName="operator" [id]="'o_' + i"/>
                  }
                </td>
                <td style="width: 100%" style="padding: 5px;">
                  @if (getSearchInputFieldType(searchInputField) === FieldType.STRING) {
                    <input style="width: 100%;" pInputText (keyup.enter)="applyInput()"
                      formControlName="filterCriteria" [id]="'fi_' + i">
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.DECIMAL) {
                    <input style="width: 100%;" pInputText (keyup.enter)="applyInput()"
                      formControlName="filterCriteria" [id]="'fi_' + i">
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.INTEGER) {
                    <input style="width: 100%;" pInputText (keyup.enter)="applyInput()"
                      formControlName="filterCriteria" [id]="'fi_' + i">
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.UUID) {
                    <input style="width: 100%;" pInputText (keyup.enter)="applyInput()"
                      formControlName="filterCriteria" [id]="'fi_' + i">
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.UUID_BINARY) {
                    <input style="width: 100%;" pInputText (keyup.enter)="applyInput()"
                      formControlName="filterCriteria" [id]="'fi_' + i">
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.BOOLEAN) {
                    <p-select [options]="booleanValueItems" formControlName="filterCriteria" [id]="'fc_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.ENUM) {
                    <p-select [options]="getSelectionList(searchInputField)" formControlName="filterCriteria" [id]="'fc_' + i"/>
                  }
                  @if (getSearchInputFieldType(searchInputField) === FieldType.DATE) {
                    <p-datepicker formControlName="dateCriterion" (keyup.enter)="applyInput()"
                      [showTime]="showTime(searchInputField)" dateFormat="dd.mm.yy" [id]="'fd_' + i"/>
                  }
                </td>
                <td style="text-align: center;" style="padding: 5px;">
                  <input type="checkbox" formControlName="displayInTable">
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button pButton style="min-width: 120px;" type="button" icon="pi pi-check" i18n="@@button_submit"
      (click)="applyInput()" [disabled]="!searchInputForm.valid" id="cmdSubmit">Submit</button>
    <button pButton style="min-width: 120px;" type="button" icon="pi pi-info" i18n="@@button_count"
      (click)="countRecords()" [disabled]="!searchInputForm.valid" id="cmdCount">Count</button>
    <button pButton style="min-width: 120px;" type="button" icon="pi pi-times" i18n="@@button_reset"
      (click)="resetSearchInput()" id="cmdReset">Reset</button>
  </ng-template>

</p-dialog>