<cc-search-input-dialog [visible]="showSearchInputDialog()" (closeDialog)="showSearchInputDialog.set(false)" [searchInput]="searchInput()!"
  (performSearch)="performSearchOperation($event)" (performCount)="performCountOperation($event)"/>

<cc-save-search-dialog [visible]="showSaveSearchDialog()" (closeDialog)="showSaveSearchDialog.set(false)" [searchInput]="searchInput()!"
  [viewName]="id"/>

<cc-saved-search-selection-dialog [visible]="showSavedSearchSelectionDialog()" (closeDialog)="showSavedSearchSelectionDialog.set(false)"
  [searchInput]="searchInput()!" [viewName]="id" (savedSearchSelected)="performSearchOperation($event)"/>

<cc-view-container headerText="{{ title }}" headerIcon="pi-list">
  <p-menubar [model]="menuItems" style="margin-bottom: 10px"/>

  <p-fileupload hidden="true" mode="basic" [auto]="true" [customUpload]="true"
    (uploadHandler)="onImportButtonPressed($event, fileUpload)" id="cmdImport"/>

  <p-table #dataTable [columns]="columns()" [value]="items()" [paginator]="true" [rows]="30"
    [(contextMenuSelection)]="selectedItem" [contextMenu]="cm" [resizableColumns]="true"
    [loading]="loading()" [rowsPerPageOptions]="[10, 20, 30, 50, 100, 500, 1000]" paginatorPosition="top"
    tableStyleClass="p-datatable-sm" selectionMode="single" id="dataTable">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track $index) {
         <th scope="col" pResizableColumn [style]="{'width': col.width}" [pSortableColumn]="col.field">
           <p-sortIcon [field]="col.field"/>
           {{ col.header }}
         </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
      <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(item)" id="{{ rowData[rowKey] }}">
        @for (col of columns; track $index) {
          <td>{{ formatField(col.field, rowData[col.field]) }}</td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="margin-top: 0.5em">{{ summaryText() }}</div>
    </ng-template>
  </p-table>

  <p-contextmenu #cm [model]="contextMenuItems" id="dataTable_contextMenu"/>

</cc-view-container>
