<div class="view-border">

  <!-- Header area -->
  <div [class]="collapsed ? 'view-header-collapsed' : 'view-header'">
    <div [class]="collapsed ? 'view-header-row-collapsed' : 'view-header-row'">
      @if (!collapsed) {
        <div class="view-header-icon-cell">
          <i class="pi {{ headerIcon }}" style="font-size: 1.5rem"></i>
        </div>
      }

      <div class="view-header-text-cell">
        @if (!collapsed) {
          <div class="view-header-text">{{ headerText }}</div>
        }
      </div>

      @if (enableCollapse) {
        <div (click)="collapsed = !collapsed" tabindex="0" (keypress)="collapsed = !collapsed"
          class="view-header-icon-cell" id="cmdCollapse">
          <i [class]="collapsed ? 'pi pi-bars' : 'pi pi-window-minimize'" style="font-size: 1.5rem"></i>
        </div>
      }
    </div>
  </div>

  <!-- Content area -->
   @if (!collapsed) {
    <div class="view-content" style="padding: {{ contentPadding }}">
      <ng-content/>
    </div>
  }

</div>
