<p-dialog [(visible)]="visible" [modal]="true" i18n-header="@@errorpage_header" header="An Error Occurred"
  [style]="{'width': '550px'}" (onHide)="onCloseDialog()">

  <table style="width: 100%; margin-bottom: 0.5rem;" aria-label="Error details">
    <!-- Add an empty table header to satisfy SonarLint! -->
    <thead><tr><th></th></tr></thead>
    <tr>
      <td>
        <i class="pi pi-exclamation-triangle" style="font-size: 4rem" id="imgStatus"></i>
      </td>
      <td>
        <div style="font-size: 1.4rem; font-weight: bold;">{{title}}</div>
      </td>
    </tr>
  </table>

  <div style="margin-bottom: 0.5rem;">
    <div style="font-weight: bold" i18n="@@errorpage_details">Details:</div>
  </div>

  <div style="border: 1px solid var(--surface-border); width: 100%; min-height: 100px; padding: 0.3rem; margin-bottom: 0.5rem;"
    id="lblDetails">
    <div>{{details}}</div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton style="min-width: 100px" type="button" i18n-label="@@button_ok" label="OK" (click)="visible = false"
      id="cmdClose">
    </button>
  </ng-template>

</p-dialog>
