<p-toast [style]="{'marginTop': '80px'}"/>
<p-confirmdialog/>

<!-- Menu bar -->
@if (loggedIn()) {
  <app-main-menu/>
}

<!-- Global progress bar -->
<div class="template-progress-bar">
  @if (loading()) {
    <p-progressbar mode="indeterminate" [style]="{'height': '4px'}"/>
  }
</div>

<!-- Main area -->
<div class="template-main-area">
  <div style="display: table;">
    <div style="display: table-row;">

      <!-- Create a border on the left side -->
      <div class="template-page-border"></div>

      <!-- Add application tree view navigator -->
      @if (loggedIn()) {
        <div class="template-navigator">
          <cc-tree-navigator [collapsed]="collapseNavigator()"/>
        </div>
      }

      <!-- Add content area -->
      <div class="template-content">
        <router-outlet/>
      </div>

      <!-- Create a border on the right side -->
      <div class="template-page-border"></div>
    </div>
  </div>

  <!-- Add a small space in order to see the full page content which is otherwise hidden by the footer after scrolling down! -->
  <div class="template-bottom-spacer"></div>
</div>

<!-- Page footer -->
@if (loggedIn()) {
  <div id="footer" class="template-footer">
    <div class="template-footer-text-left">&copy;&nbsp;&nbsp;2026&nbsp;&bull;&nbsp;CodeCadenza</div>
    <div class="template-footer-text-right" i18n="@@app_footer_poweredby">Powered by Primeng 21</div>
  </div>
}
