<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
    point="org.eclipse.ui.preferencePages">
    <page
      class="net.codecadenza.eclipse.shared.MainPreferencePage"
      id="net.codecadenza.eclipse.preferences.main"
      name="CodeCadenza">
    </page>
  </extension>

</plugin>
