<p-menubar [model]="menuItems" style="margin-bottom: 10px"/>

<p-fileupload #fileUpload mode="basic" hidden="true" [customUpload]="true" [auto]="true"
  (uploadHandler)="onImportButtonPressed($event, fileUpload)" id="cmdImport"/>

<p-table #dataTable [columns]="columns" [value]="items()" [paginator]="true" [rows]="10" [(contextMenuSelection)]="selectedItem"
  [contextMenu]="cm" [resizableColumns]="true" [loading]="loading()" [rowsPerPageOptions]="[10, 20, 30, 50, 100, 500, 1000]"
  [scrollable]="true" [style]="tableStyle" paginatorPosition="top" selectionMode="single"
  tableStyleClass="p-datatable-sm" [id]="tableId">
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track $index) {
        <th scope="col" pResizableColumn [style]="{'width': col.width}" [pSortableColumn]="col.field">
          <p-sortIcon [field]="col.field"/>
          {{ col.header }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
    <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(item)" id="{{ rowData[rowKey] }}">
      @for (col of columns; track $index) {
        <td>{{ formatField(col.field, rowData[col.field]) }}</td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="margin-top: 0.5em">{{ summaryText() }}</div>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="contextMenuItems" id="{{ tableId }}_contextMenu"/>
