@if (!fillEmptySpace) {
  <div>
    <div class="{{ labelClass }}" style="margin-top: 0.4rem;">
      {{ label }}
    </div>

    <ng-content/>

    @if (requiredSet) {
      <div>
        @if (!validateControl('required')) {
          <p-message severity="error">{{ messageRequired }}</p-message>
        }
      </div>
    }

    @if (minLengthSet) {
      <div>
        @if (!validateControl('minlength')) {
          <p-message severity="error">{{ messageMinLength }}</p-message>
        }
      </div>
    }

    @if (maxLengthSet) {
      <div>
        @if (!validateControl('maxlength')) {
          <p-message severity="error">{{ messageMaxLength }}</p-message>
        }
      </div>
    }

    @if (minValueSet) {
      <div>
        @if (!validateControl('min')) {
          <p-message severity="error">{{ messageMinValue }}</p-message>
        }
      </div>
    }

    @if (maxValueSet) {
      <div>
        @if (!validateControl('max')) {
          <p-message severity="error">{{ messageMaxValue }}</p-message>
        }
      </div>
    }

    @if (patternSet) {
      <div>
        @if (!validateControl('pattern')) {
          <p-message severity="error">{{ messagePattern }}</p-message>
        }
      </div>
    }

    @if (integerSet) {
      <div>
        @if (!validateControl('integer')) {
          <p-message severity="error">{{ messageInteger }}</p-message>
        }
      </div>
    }

    @if (decimalSet) {
      <div>
        @if (!validateControl('decimal')) {
          <p-message severity="error">{{ messageDecimal }}</p-message>
        }
      </div>
    }

  </div>
}
